.node {
  width: 45px;
  height: 45px;
  border-right: 1px solid rgb(175, 216, 248);
  border-bottom: 1px solid rgb(175, 216, 248);
  display: table-cell;
}

.node-finish {
  background-color: #ff6766;
  background-image: url("../../images/cake.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.node-start {
  background-color: #9cf196;
  background-image: url("../../images/josh.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.node-calculating {
  background-color: #84c1ff;
  background-image: url("../../images/josh-calculating.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.node-sad {
  background-color: #84c1ff;
  background-image: url("../../images/josh-sad.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #d6eaff;
    border-radius: 100%;
  }

  50% {
    background-color: #add6ff;
  }

  75% {
    transform: scale(1.1);
    background-color: #add6ff;
  }

  100% {
    transform: scale(1);
    background-color: #84c1ff;
  }
}

.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.5);
    background-color: rgb(42, 54, 59);
  }

  50% {
    transform: scale(1.1);
    background-color: rgb(42, 54, 59);
  }

  100% {
    transform: scale(1);
    background-color: rgb(42, 54, 59);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #e1ffe9;
  }

  50% {
    transform: scale(1.2);
    background-color: #a5e7a1;
  }

  100% {
    transform: scale(1);
    background-color: #9cf196;
  }
}
