/* Icons made by <a href="https://www.flaticon.com/authors/skyclick" title="Skyclick">Skyclick</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> */
/* Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> */

.instructions {
  margin: 2% 0 0 0;
}

.grid {
  margin: 10px 0 0 0;
  padding: 0;
  border-top: 1px solid rgb(175, 216, 248);
  border-left: 1px solid rgb(175, 216, 248);
  display: inline-block;
  flex-direction: column;
  align-items: center;
}

.discrete-slider {
  width: 50%;
  display: inline-block;
}
